@inject UserManager<UserEntity> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@if (user != null)
{
    <div class="profile">
        <div class="profile-image">
            <img src="~/images/uploads/profiles/@user.ProfileImageUrl" alt="@user.FirstName @user.LastName">

            <form enctype="multipart/form-data" method="post" asp-action="UploadProfileImage" asp-controller="Account">
                <input id="fileUploader" type="file" name="file" hidden />
                <label for="fileUploader" class="btn-circle btn-refresh"><i class="fa-sharp fa-regular fa-arrows-rotate"></i></label>
            </form>
        </div>
        <div class="profile-info">
            <h5 class="displayname">@user.FirstName @user.LastName</h5>
            <p>@user.Email</p>
        </div>
    </div>

    <nav>
        <a asp-controller="Account" asp-action="Details" class="@((ViewContext.RouteData.Values["Controller"] as string == "Account" && ViewContext.RouteData.Values["Action"] as string == "Details") ? "btn-theme-s" : "btn-transparent")"><i class="fa-regular fa-gear"></i><span>Account Details</span></a>
        <a asp-controller="Account" asp-action="Security" class="@((ViewContext.RouteData.Values["Controller"] as string == "Account" && ViewContext.RouteData.Values["Action"] as string == "Security") ? "btn-theme-s" : "btn-transparent")"><i class="fa-regular fa-lock"></i><span>Security</span></a>
        <a asp-controller="Account" asp-action="SavedCourses" class="@((ViewContext.RouteData.Values["Controller"] as string == "Account" && ViewContext.RouteData.Values["Action"] as string == "SavedCourses") ? "btn-theme-s" : "btn-transparent")"><i class="fa-regular fa-bookmark"></i><span>Saved Courses</span></a>
        <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i><span>Sign Out</span></a>
    </nav>
}
