@model SingleCourseViewModel

<section id="description-course">
    <div class="container">
        <div class="description-header">
            <div class="singlecourse-header">
                <h1>Course Description</h1>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus <br>accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, <br>tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum <br>quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <div class="learn-what">
                    <h2>What you'll learn</h2>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Sed lectus donec amet eu turpis interdum.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Nulla at consectetur vitae dignissim porttitor.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>Phasellus id vitae dui aliquet mi.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i></i><p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p></span>
                    <span class="checked-info"><i class="fa-regular fa-circle-check"></i><p>In aenean dolor diam tortor orci eu.</p></span>
                </div>
            </div>
            <div class="singlecourse-box">
                <h4>This course includes:</h4>
                <span class="course-include"><i class="fa-solid fa-tv"></i><p>148 hours on-demand video</p></span>
                <span class="course-include"><i class="fa-regular fa-file"></i></i><p>18 articles</p></span>
                <span class="course-include"><i class="fa-solid fa-download"></i></i><p>25 downloadable resources</p></span>
                <span class="course-include"><i class="fa-regular fa-handshake"></i><p>Full lifetime access</p></span>
                <span class="course-include"><i class="fa-solid fa-trophy"></i></i><p>Certificate of completion</p></span>
                <div class="pricing">
                    @if (!string.IsNullOrEmpty(Model.DiscountPrice))
                    {
                        <div class="discount">@Model.DiscountPrice</div>
                    }

                    <div class="original @(!string.IsNullOrEmpty(Model.DiscountPrice) ? "discount-enabled" : "")">@Model.OriginalPrice</div>
                </div>
@*                 <button class="btn-circle bookmark" asp-action="AddCourse" asp-controller="Courses" asp-route-id="@Model.Id">Join course</button> *@
                @* <a class="btn-theme-s" onclick="location.href='@Url.Action("AddCourse", "Courses", new { id = Model.Id })'">Join course</a> *@
                @* <a class="btn-circle bookmark" asp-action="AddCourse" asp-controller="Courses" asp-route-id="@Model.Id">Join course</a> *@
                @* <a class="btn-theme-s bookmark" data-courseid="@Model.Id">Join course</a> *@
                @* <a class="button-top" data-courseid="@Model.Id">Join course</a> *@
                <a id="bookmark-button" class="btn-theme-s" asp-action="SaveCourse" asp-controller="Courses" asp-route-id="@Model.Id">Join course</a>
            </div>
        </div>
    </div>
</section>