@model ManageYourWorkViewModel

<section id="@Model.Id" class="manage-your-work">
    <div class="container">
        <img src="@Model.ManageImage.ImageUrl" alt="@Model.ManageImage.AltText">
        <div class="learn-more">
            <h2>@Model.Title</h2>

            @if (Model.Item != null)
            {
                foreach (var item in Model.Item)
                {
                    <div class="item">
                        <i class="fa-sharp fa-regular fa-circle-check"></i>
                        <p>@item.Text</p>
                    </div>
                }
            }

            <a class="btn-theme-s" asp-controller="@Model.Link.ControllerName" asp-action="@Model.Link.ActionName"><span>@Model.Link.Text</span><i class="fa-regular fa-arrow-right"></i></a>
        </div>
    </div>
</section>